body{
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

.picturebox {
    border-radius: 5px;
    width: 200px;
    margin: 10px 10px;
}

.box{
    background-color: hsl(0, 0%, 100%);
    margin: 150px auto;
    width: 300px;
    height: auto;
    border-radius: 15px;
}
