body{
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

.picturebox {
    border-radius: 15px;
}

.box{
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
